@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(42, 36, 68);
}

.button-3d {
  @apply bg-blue-500 text-white font-bold py-2 px-4 mt-10 text-[30px] rounded;
  @apply shadow-lg;
  @apply transition duration-150 ease-in-out;
}

.button-3d:hover {
  @apply bg-blue-600;
}

.button-3d:active {
  @apply bg-blue-700 shadow-none;
}
